.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.menu--btn {
  width: 300px;
  height: 100px;
  font-size: 1.8rem;
  font-family: monospace;
  color: #f249c5;
  box-shadow: 0 0 10px #b84298, 0 0 20px #b84298;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
}

.menu--btn:hover {
  background-color: #c71597;
  color: rgb(26, 1, 19);
}
